:root{
    --off-white: #ebeced;
    --primary-color: #2a9d8f;
    --dark-grey: #264653;
}
html{
    font-family: 'Nunito', sans-serif;
}
body{
    margin:0px;
}

hr{
    margin:2.2rem 0rem;
}

/* spaces */



/* container */
.container{
    padding: 0rem 1rem;
}

.list-non-bullet .container{
    padding-bottom: 2rem;
}
.container-center{
    max-width: 600px;
    margin: auto;
}

/* links */
.link{
    text-decoration: none;
    padding: 0.5rem 1rem;

}

.link-primary{
    background-color: var(--primary-color);
    border-radius: 0.5rem;
    color:white;
}

.link-secondary{
    color: var(--primary-color);
    border: 1px solid var(--primary-color);
    border-radius: 0.5rem;
}

.link-active{
    font-weight: 700;
}

/* lists */

.list-non-bullet{
    list-style: none;
}

.list-item-inline{
    display: inline;
    padding: 0rem 1rem;
}

/*  navigation */
.navigation{
    background-color: var(--primary-color);
    color: white;
    padding: 1rem;
    border-bottom-left-radius: 1rem;

}
.navigation .nav-brand{
    font-weight: 700;
    font-size: 1.3rem;
}
.navigation .nav-pills{
    text-align: right;
}

.navigation .link{
    color:white;
}

.navigation .link-active{
    font-weight: bold;
}

/* header */

.hero{
    padding: 2rem;
    padding-top: 5rem;
}

.hero .hero-img{
    width: 60%;
    max-width: 500px;
    display: block;
    margin: auto;

}

.hero .hero-heading{
    text-align: center;
    color: var(--dark-grey);
}

.hero-heading span{
    color: var(--primary-color);
}


/* section */
.section{
    padding: 2rem;
}
.section h3{
    text-align: center;
    font-weight: 700;
}
.ow{
    background-color: var(--off-white);
}

.section .tech{
    color:#2a9d8f;
}
/* footer */

.footer{
    text-align: center;
    background-color: var(--primary-color);
    padding: 1rem 0.5rem;
    padding-bottom: 2rem;
    color: white;
    border-top-right-radius: 1.5rem;
}

.footer .link{
    color: white;
}

.footer .footer-header{
    font-weight: 700;
    font-size: 1.2rem;
}

.footer ul{
    padding-inline-start: 0px;
}

@media (max-width: 600px){
    .list-item-inline{
        padding-left: 0.2rem;
        padding-right: 0.2rem;
    }
}
